body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que el body tome toda la altura de la ventana */
}



.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
}

.navbar {
    background-color: #333;
    color: #fff;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    padding: 20px;
    background: #f9f9f9;
    min-height: 400px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Centrar el contenido dentro del .form-box */
.form-box {
    width: 350px; /* Ancho fijo para el formulario */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.2); /* Sombra suave para darle un efecto elevado */
    border-radius: 8px; /* Bordes redondeados */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box h1 {
    margin: 0 0 20px 0; /* Espacio debajo del título */
}

/* Estilos de los inputs y labels para que ocupen el 100% del .form-box */
.form-box label,
.form-box input[type="email"],
input[type="email"],
input[type="password"] {
    width: 100%; /* Ajuste para ocupar todo el ancho disponible */
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF; /* Color azul para el botón */
    color: white;
    border: none;
    border-radius: 4px; /* Bordes redondeados para el botón */
    cursor: pointer;
    transition: background-color 0.2s; /* Transición suave del color de fondo */
}

/* Agregar margen inferior a los labels para separarlos de los inputs */
.form-box label {
    margin-bottom: 5px; /* Ajusta este valor según sea necesario */
}

/* Asegurarse de que el form también se expanda para ocupar todo el ancho */
.form-box form {
    width: 100%;
}


input[type="text"],
input[type="password"] {
    width: calc(100% - 20px); /* Ajuste del ancho */
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%; /* Ancho completo solo para el botón */
    transition: background-color 0.2s, opacity 0.2s;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Oscurece el botón al pasar el mouse */
}

.version {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 12px;
    color: #666;
}


.info, .warning {
    width: 100%; /* Asegurarse de que los mensajes de alerta ocupen todo el ancho del form-box */
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.info {
    background-color: #ccffcc;
    color: #006600;
    border: 1px solid #006600;
}

.warning {
    background-color: #ffcccc;
    color: #660000;
    border: 1px solid #660000;
}

.error {
    width: 100%; /* Asegura que ocupe todo el ancho del form-box */
    padding: 10px;
    background-color: #ffc0c0; /* Color de fondo rojo suave */
    color: #900; /* Color de texto rojo oscuro */
    text-align: center;
    margin: 10px 0; /* Espacio antes y después del mensaje de error */
    border-radius: 4px; /* Bordes redondeados */
    box-sizing: border-box;
}
